@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

:root {
  --primary: #1a582e; /* Vibrant red */
  --primary-hover: #447517; /* Neutral hover grey */
  --footer-bg: #322d21; /* Solid black for footer */
  --text-main: #cedbc8;
  --text-light: #cedbc8;
  --accent-bg: #cedbc8;
  --menu-bg: #447517;
  --font-main: 'Poppins', Arial, sans-serif;
}

html,
body {
  font-family: var(--font-main);
  background: var(--accent-bg);
  margin: 0;
  color: var(--text-main);
}

a,
button,
.nav-link {
  color: var(--text-main);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover,
button:hover,
.nav-link:hover {
  color: var(--primary-hover);
}

footer {
  background: var(--primary);
  color: var(--text-light);
}

.button-primary {
  background: var(--primary);
  color: var(--text-light);
  border: 0.5px solid var(--footer-bg);
  padding: 0.75em 3em;
  border-radius: 0.4em;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.button-primary:hover {
  background: var(--primary-hover);
  color: var(--text-light);
}

nav {
  background: var(--menu-bg);
  border-bottom: 1px solid #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-main);
  font-family: var(--font-main);
}

.section-accent {
  background: #322d21;
}

.logo-text {
  color: var(--primary-hover);
  font-weight: 700;
  letter-spacing: px;
  font-size: 3.5rem;
  text-shadow: 2px 2px 0 #cedbc8, 3px 3px 8px rgba(0,0,0,0.06);
}
